# Ignorar entornos virtuales
**/.venv/
.venv/

# Ignorar __pycache__
**/__pycache__/

# App - ignorar archivos dentro de .streamlit, excepto .gitkeep
App/.streamlit/secrets.toml 
App/.streamlit/Planta.xlsx 
!App/.streamlit/.gitkeep


# Calidad - ignorar archivos en las subcarpetas, excepto .gitkeep
Calidad/Colombia/*
!Calidad/Colombia/.gitkeep

Calidad/Continentes/*
!Calidad/Continentes/.gitkeep

Calidad/Departamentos/*
!Calidad/Departamentos/.gitkeep

Calidad/Hubs/*
!Calidad/Hubs/.gitkeep

Calidad/Paises/*
!Calidad/Paises/.gitkeep

Calidad/TLCs/*
!Calidad/TLCs/.gitkeep

# Cargue/Insumos y subcarpetas
Cargue/Insumos/*
!Cargue/Insumos/.gitkeep

Cargue/Insumos/EXPORTACIONES/*
!Cargue/Insumos/EXPORTACIONES/.gitkeep

Cargue/Insumos/GEOGRAFIA/*
!Cargue/Insumos/GEOGRAFIA/.gitkeep

Cargue/Insumos/INVERSION/*
!Cargue/Insumos/INVERSION/.gitkeep

Cargue/Insumos/INVERSION/Bulk_UNCTAD/*
!Cargue/Insumos/INVERSION/Bulk_UNCTAD/.gitkeep

Cargue/Insumos/PARAMETROS/*
!Cargue/Insumos/PARAMETROS/.gitkeep

Cargue/Insumos/TURISMO/*
!Cargue/Insumos/TURISMO/.gitkeep

Cargue/Insumos/TURISMO/Conectividad/*
!Cargue/Insumos/TURISMO/Conectividad/.gitkeep
